<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>Find the cheapest trip!</h2>
        <form id="searchform" class="clearfix mb-4" >
          <div class="form-group">
            <label for="userInput">Name</label>
            <input type="text" id="name" class="form-control" aria-describedby="name" placeholder="">
          </div>
          <div class="form-group">
            <label for="state">Destination</label>
              <select class="custom-select" id="destination" name="destination">
                <option value=""></option>
                <option value="London" data-airport="LHR" data-dest-id="-2601889">London</option>
                <option value="New York" data-airport="NYCA" data-dest-id="20088325">New York</option>
                <option value="Paris" data-airport="CDG" data-dest-id="-1456928">Paris</option>
                <option value="Sydney" data-airport="SYD" data-dest-id="-1603135">Sydney</option>
              </select>
          </div>
          <div class="form-group">
            <label for="userInput">Departure Date</label>
            <input type="date" id="departure" class="form-control" aria-describedby="departure"
              placeholder="YYYY-MM-DD">
          </div>
          <div class="form-group">
            <label for="userInput">Return Date</label>
            <input type="date" id="return" class="form-control" aria-describedby="departure" placeholder="YYYY-MM-DD">
          </div>
          <button type="submit" class="btn btn-primary float-right submit">Search</button>
        </form>
        
       
      </div>
    </div>
     <h3>Trips:</h3>
      <div class="row">
        <div class="col-md-12" id="search-list">
          <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Destination</th>
                  <th scope="col">Flight Price</th>
                  <th scope="col">Hotel Price</th>
                  <th scope="col"></th>
                  <th scope="col"></th>

                </tr>
            </thead>
            <tbody>
              {{#each bookings}}
                <tr>
                  <td><span class="label"></span> {{this.id}}</td>
                  <td><span class="label"></span> {{this.destination}}</td>
                  <td><span class="label">Flight $</span> {{this.flightPrice}}</td>
                  <td><span class="label">Hotel $</span> {{this.flightPrice}}</td>
                  <td>
                    <button data-id="{{this.id}}" data-name="{{this.name}}" class="delquote">Delete</button>
                  </td>
                  <td>
                    <a href="../../api/quote/{{this.id}}">See this quote</a>
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>