<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>Find the cheapest trip!</h2>
        <form id="searchform" class="clearfix mb-4" >
          <div class="form-group">
            <label for="userInput">Name</label>
            <input type="text" id="name" class="form-control" aria-describedby="name" placeholder="">
          </div>
          <div class="form-group">
            <label for="state">Destination</label>
              <select class="custom-select" id="destination" name="destination">
                <option value=""></option>
                <option value="London" data-airport="LHR" data-dest-id="-2601889">London</option>
                <option value="New York" data-airport="NYCA" data-dest-id="20088325">New York</option>
                <option value="Paris" data-airport="CDG" data-dest-id="-1456928">Paris</option>
                <option value="Sydney" data-airport="SYD" data-dest-id="-1603135">Sydney</option>
              </select>
          </div>
          <div class="form-group">
            <label for="userInput">Departure Date</label>
            <input type="date" id="departure" class="form-control" aria-describedby="departure"
              placeholder="YYYY-MM-DD">
          </div>
          <div class="form-group">
            <label for="userInput">Return Date</label>
            <input type="date" id="return" class="form-control" aria-describedby="departure" placeholder="YYYY-MM-DD">
          </div>
          <button type="submit" class="btn btn-primary float-right submit">Search</button>
        </form>
        
        <h3>Trips:</h3>
        <ul id="search-list" class="list-group">
          {{#each bookings}}
            <li>
              <tr><span class="label">ID:</span> {{this.id}}</tr>
              <tr><span class="label">Author:</span> {{this.Name}}</tr>
              <tr><span class="label">Quote:</span> {{this.destination}}</tr>

              <button data-id="{{this.id}}" class="delquote">Delete</button>

              <a href="/{{this.id}}">Update this quote</a>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>